@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}

body{
  background-color: #fdbf00;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
}
 
/* Add media query for smaller screens */
@media only screen and (min-width: 768px) {
  .card {
 
    left: 0; /* Adjust the left position for better visibility on smaller screens */
    
  }
}

.card {
 
  width: 640px; /* Set a maximum width */
  height: 400px;
  position: relative;
  margin: auto;
  left: -22%;
  right:0;
  top: 0;
  bottom: 0;
  -webkit-perspective: 1200px;
  perspective: 1200px;

}
.card:hover {
  transform:rotate(-5deg);

}
.card:hover .outside{
  transform: rotateY( -130deg);
}



.outside, .inside {
 
  height: 100%;
  width: 50%;
  position: absolute;
  left: 50.1%;
}

.inside {

  background: linear-gradient(to right, #e0e0e0, #ffffff 30%);
  line-height: 3;
  padding: 0 20px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  left: 50%;
   

}
.outside {
   -webkit-transform-style: preserve-3d;
   transform-style: preserve-3d;
   z-index: 1;
   transform-origin: left;
  transition: 2s;
  
}

.front, .back {
  height: 100%;
  width:100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  
}
.front{
  background-color: white;
}

.back {
  transform: rotateY(180deg);
  background: linear-gradient(to left, #e0e0e0, #ffffff   30%);
}